.topheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.bottomheader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: inherit;
    padding: inherit;
}

.bottomheader__menu {
    font-size: 20px;
    flex: 1;
    min-width: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px;
    margin: 0;
}

.phoneblock {
    display: flex;
    align-items: center;
    color: #38385C;
    font-weight: 400;
    margin-bottom: 5px;
}

.phoneblock__icon {
    display: none;
    color: #38385C;
    font-size: 14px;
    margin-right: 5px;
}

.phoneblock__text {
    display: block;
    color: #38385C;
}

.phoneblockmobile {
    display: flex;
    align-items: center;
    color: #38385C;
    font-weight: 400;
    margin-bottom: 20px;
}

.phoneblockmobile__icon {
    display: block;
    color: #38385C;
    font-size: 24px;
    margin-right: 10px;
}

.phoneblockmobile__text {
    display: block;
    color: #38385C;
    font-size: 24px;
}

.cls-1 {
    fill: none;
    stroke: #38385C;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
}

.topheader__buttoncontact {
    display: none;
}

.topheader__buttoncontact span {
    font-size: 24px;
    color: #38385C;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #38385C;
    padding: 3px;
    background-color: white;
}
.phone{
    animation: tilt-shaking 2s ease infinite;
}

@media (max-width: 768px) {
    .bottomheader__menu{
        gap: 30px;
    }
    .topheader {
        justify-content: space-between;
    }

    .topheader__buttoncontact {
        display: block;
    }

    .topheader__contactarea {
        display: none;
    }

    .topheader__buttonarea {
        display: none;
    }
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    2% { transform: rotate(5deg); }
    4% { transform: rotate(0deg); }
    6% { transform: rotate(-5deg); }
    8% { transform: rotate(0deg); }
    10% { transform: rotate(5deg); }
    12% { transform: rotate(0deg); }
    14% { transform: rotate(-5deg); }
    16% { transform: rotate(0deg); }
    18% { transform: rotate(5deg); }
    20% { transform: rotate(0deg); }
    22% { transform: rotate(-5deg); }
    24% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }